.board {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  border: 10px inset #666;
}

.row {
  display: flex;
  flex-direction: row;
  width: min-content;
  height: min-content;
}

.cell {
  background-color: #FFF;
  border: 1px groove #555;
  color: #ddd;
  font-family: monospace;
  text-align: center;
} .cell:focus {
  outline: none;
}

.ownedCell {
  border: none;
}

.playerCell {
  border: none !important;
  outline: 5px auto rgb(59, 153, 252) !important;
}
